  
.forms {
  display: flex; 
  flex-wrap: wrap;
  gap: 2rem;
}

.actions {
  display: inline-table ;
  position: relative;
  width: 22%;
  top: 65px;
}
  
.details {
    position: relative;
    top: 40px;
}